<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
        style="cursor: pointer;"
        class="navbar-brand"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        >Recipe Book</a
      >
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routterLinkActive="active">
          <a [routerLink]="['recipes']" routerLinkActive="router-link-active"
            >Recipes</a
          >
        </li>
        <li routterLinkActive="active">
          <a
            [routerLink]="['shopping-list']"
            routerLinkActive="router-link-active"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()">
          <li><a routerLink="signup"> Register</a></li>
          <li><a routerLink="signin"> Login</a></li>
        </ng-template>
        <li *ngIf="isAuthenticated()"><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
        <li class="dropdown" appDropdown *ngIf="isAuthenticated()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer;" (click)="onSave()">Save Data</a>
            </li>
            <li>
              <a style="cursor: pointer;" (click)="onFetch()">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
